* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html, #root {
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: gray;
}

.input {
    border: 1px blue groove;
    font-size: 20px;
    border-radius: 2px;
    padding: 10px;
    width: 400px;
}

.input:focus {
    outline: none;
    background-color: white;
}


.container {
    position: relative;
    display: inline-block;
}


.results {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    display: none;
}

.results-el {
    padding: 8px;
    cursor: pointer;
}

.results-el:hover {
    background-color: #f1f1f1;
}