:root {
    --orange: rgb(190, 130, 0);
    --gray: rgba(157, 157, 157, 1);
    --blue: rgba(75, 187, 255, 1);
    --yellow: rgb(251, 255, 102);
    --light-blue: rgb(110, 255, 229);
    --pink: rgba(226, 47, 252, 1);
    --green: rgb(73, 255, 0);
}


